body {
    background:  white;
    background-image: url("/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-element{
    margin-top: 10%;
    margin-bottom: auto;
}

.card{
    width: 55%;
    height: auto;
}

input[readonly].disabled{
    background-color: #b5e5b8 !important;
    font-size: 1em;
}

.enabled{
    background-color: #caffe8 !important;
    font-size: 1em;
}

.alert-placeholder{
    width : 100%;
    margin-top: 2em;
    height : 30px;
    justify-content: center;
}